header {
  text-align: center;
}
.ss {
  background color: blue;
}
h1 {
  text-align: center;
  background-color: yellow;
  border: solid black 2px;
}
h2 {
  text-align: center;
  background-color: red;
  border: solid black 2px;
}
h3 {
  background-color: #50A7FF;
  text-align: center;
  border: solid black 2px;
}
img {
  height: 300px;
  width: 400px;
}
a {
  color:blue;
}
div {
  text-align: center;
}
li {
  text-align: left;
}
div{
  border-radius: 10px black;
}
div p{
  text-align: left;
  font-size: 30px;
}
div b {
  text-align: left;
  font-size: 20px;
  margin: -10px;
}
